Notebook for processing metadata tables for use in silver. 

NOTE: partially complete b/c accidently lost the notebook

In [3]:
spark.catalog.listTables('test.silver.md') # see metadata tables we made

[Table(name='binary', catalog='test', namespace=['silver', 'md'], description=None, tableType='MANAGED', isTemporary=False),
 Table(name='largecat', catalog='test', namespace=['silver', 'md'], description=None, tableType='MANAGED', isTemporary=False),
 Table(name='number', catalog='test', namespace=['silver', 'md'], description=None, tableType='MANAGED', isTemporary=False),
 Table(name='smallcat', catalog='test', namespace=['silver', 'md'], description=None, tableType='MANAGED', isTemporary=False)]

In [4]:
import numpy as np # for NULL cast since pandas makes NULL nan
sdf = spark.table("test.silver.md.smallcat").toPandas()
unique_fields = np.unique(sdf['field'])
print(sdf, unique_fields)

   silver_column field  code  \
0      DRAT_NULL  DRAT   NaN
1         DRAT_1  DRAT   1.0
2         DRAT_2  DRAT   2.0
3         DRAT_3  DRAT   3.0
4         DRAT_4  DRAT   4.0
..           ...   ...   ...
60        WAOB_4  WAOB   4.0
61        WAOB_5  WAOB   5.0
62        WAOB_6  WAOB   6.0
63        WAOB_7  WAOB   7.0
64        WAOB_8  WAOB   8.0

                                                texts
0   N/A (No service-connected disability/never ser...
1                                           0 percent
2                                    10 or 20 percent
3                                    30 or 40 percent
4                                    50 or 60 percent
..                                                ...
60                  Asia (POBP = 158-159,161,200-299)
61                Europe (POBP = 100-157,160,162-199)
62                            Africa (POBP = 400-499)
63          Northern America (POBP = 300-302,304-309)
64            Oceania and at Sea (POBP = 060,500-554)

[65 rows x 4 columns] ['DRAT' 'ENG' 'MAR' 'MIL' 'MSP' 'PAOC' 'RAC1P' 'REGION' 'SCH' 'WAOB']

In [9]:
query = "SELECT YEAR, PUMA"
for field in unique_fields:
    if field == 'REGION': # FIXME
        continue
    query += f",\n{field}"
for _, row in sdf.iterrows():
    if row['field'] == 'REGION': # FIXME
        continue
    silver_column, field, code, text = row.values
    match_str = '= ' + str(code) if not np.isnan(code) else 'IS NULL'
    query += f",\nCASE WHEN {field} {match_str} THEN 1 ELSE 0 END {silver_column}"
query += "\nFROM test.bronze.census"
spark.sql(query).writeTo("test.silver.data.smallcat").createOrReplace()

In [13]:
%%sql

SELECT * FROM test.silver.data.smallcat

+------+--------+-------+-----+-------+-------+-------+------+-------+------+------+------+
| agep | marhyp |   oip | pap | pernp | pincp | pwgtp | retp |  wagp | wkhp | wkwn | yoep |
+------+--------+-------+-----+-------+-------+-------+------+-------+------+------+------+
|   48 |   2009 |     0 |   0 |     0 |     0 |    59 |    0 |     0 | None | None | None |
|   19 |   None |     0 |   0 |     0 |     0 |    36 |    0 |     0 | None | None | None |
|   36 |   2012 |  2500 |   0 |     0 |  2500 |    23 |    0 |     0 | None | None | None |
|   27 |   None |     0 |   0 | 31300 | 31300 |    42 |    0 | 31300 |   48 |   48 | None |
|   92 |   1950 |     0 |   0 |     0 | 22000 |    14 | 6000 |     0 | None | None | None |
|   19 |   None |     0 |   0 |     0 |     0 |    53 |    0 |     0 | None | None | None |
|   19 |   None |     0 |   0 |  6000 |  6000 |    32 |    0 |  6000 |   50 |    1 | None |
|   81 |   1961 |     0 |   0 |     0 | 10100 |    56 |    0 |     0 | None | None | None |
|   92 |   1949 |     0 |   0 |     0 |  9300 |    62 | 6600 |     0 | None | None | None |
|   31 |   None |     0 |   0 |     0 |     0 |    54 |    0 |     0 | None | None | None |
|   21 |   None |     0 |   0 |  1400 |  2400 |    54 |    0 |  1400 |    8 |   52 | None |
|   62 |   2004 |     0 |   0 |     0 |     0 |    25 |    0 |     0 | None | None | None |
|   29 |   None |     0 |   0 |     0 |     0 |     9 |    0 |     0 | None | None | None |
|   18 |   None |     0 |   0 |     0 |     0 |    23 |    0 |     0 | None | None | None |
|   92 |   1954 |     0 |   0 |     0 |  1600 |    14 |    0 |     0 | None | None | None |
|   39 |   None |  1000 |   0 |     0 |  1000 |     6 |    0 |     0 | None | None | None |
|   48 |   2006 |     0 |   0 |     0 |     0 |    11 |    0 |     0 | None | None | None |
|   25 |   None |     0 |   0 | 24900 | 24900 |    41 |    0 | 24900 |   45 |   52 | 2002 |
|   47 |   1997 |     0 |   0 |  6000 |  6000 |    14 |    0 |  6000 |   52 |   52 | 2004 |
|   79 |   1972 |     0 |   0 |     0 | 21300 |    31 |    0 |     0 | None | None | None |
|   81 |   None |     0 |   0 |     0 |     0 |    13 |    0 |     0 | None | None | None |
|   77 |   None |     0 |   0 |     0 |  6800 |    60 |    0 |     0 | None | None | None |
|   88 |   1963 |     0 |   0 |     0 | 22400 |    11 | 2000 |     0 | None | None | None |
|   28 |   None |     0 |   0 |  8000 |  8000 |    23 |    0 |  8000 |   50 |   52 | None |
|   68 |   1999 |     0 |   0 |     0 |     0 |    18 |    0 |     0 | None | None | None |
|   22 |   None |     0 |   0 |     0 |     0 |    48 |    0 |     0 | None | None | None |
|   33 |   2006 |     0 |   0 | 13000 | 13000 |    43 |    0 | 13000 |   50 |    5 | None |
|   19 |   None |     0 |   0 | 27000 | 27000 |    16 |    0 | 27000 |   40 |   52 | None |
|   78 |   1969 |     0 |   0 |     0 |     0 |    11 |    0 |     0 | None | None | None |
|   23 |   None |     0 |   0 | 20000 | 20000 |    57 |    0 | 20000 |   40 |   52 | None |
|   63 |   1999 |   800 |   0 |     0 |   800 |    56 |    0 |     0 | None | None | None |
|   18 |   None |     0 |   0 |  8000 |  8000 |    15 |    0 |  8000 |   40 |   12 | None |
|   21 |   None |     0 |   0 | 26000 | 26000 |    41 |    0 | 26000 |   40 |   52 | None |
|   70 |   1972 |  3000 |   0 |     0 | 12600 |    49 |    0 |     0 | None | None | None |
|   84 |   1987 |     0 |   0 |     0 | 14400 |    54 |    0 |     0 | None | None | None |
|   20 |   None |     0 |   0 | 12400 | 12400 |    25 |    0 | 12400 |   20 |   52 | None |
|   22 |   None |     0 |   0 |  3500 |  3500 |    20 |    0 |  3500 |   25 |   15 | None |
|   92 |   1948 |     0 |   0 |     0 |  9700 |    16 |    0 |     0 | None | None | None |
|   19 |   None |     0 |   0 |     0 |     0 |    56 |    0 |     0 | None | None | None |
|   23 |   None |     0 |   0 |  7100 |  7100 |    18 |    0 |  7100 |   99 |   52 | None |
|   21 |   None |     0 |   0 | 18000 | 18000 |    14 |    0 | 18000 |   30 |   52 | None |
|   38 |   None |     0 |   0 |     0 |     0 |    52 |    0 |     0 | None | None | None |
|   21 |   None |     0 |   0 | 28800 | 28800 |    67 |    0 | 28800 |   50 |   52 | None |
|   19 |   None |     0 |   0 |  4000 |  4000 |    54 |    0 |  4000 |   30 |    1 | None |
|   18 |   None |     0 |   0 | 18200 | 18200 |    22 |    0 | 18200 |   30 |   52 | None |
|   57 |   None |     0 |   0 |     0 | 20500 |    16 |    0 |     0 | None | None | None |
|   81 |   1988 |     0 |   0 |     0 |  1300 |     8 |    0 |     0 | None | None | None |
|   22 |   None |     0 |   0 | 13300 | 13300 |    13 |    0 | 13300 |   40 |    2 | None |
|   32 |   None |     0 |   0 |  2500 |  2500 |    53 |    0 |  2500 |   30 |    6 | None |
|   18 |   None |     0 |   0 |     0 |     0 |    69 |    0 |     0 | None | None | None |
|   32 |   None |  3000 |   0 |     0 |  3000 |    26 |    0 |     0 | None | None | None |
|   33 |   2004 |  1200 |   0 |  9000 | 10200 |    61 |    0 |  9000 |   60 |    8 | None |
|   27 |   2017 |     0 |   0 | 28400 | 28400 |    10 |    0 | 28400 |   40 |   52 | None |
|   46 |   None |     0 |   0 |     0 |     0 |    12 |    0 |     0 | None | None | None |
|   19 |   None |     0 |   0 |     0 |     0 |    31 |    0 |     0 | None | None | None |
|   26 |   None |     0 |   0 |     0 |     0 |    56 |    0 |     0 | None | None | None |
|   34 |   2016 |     0 |   0 |     0 |     0 |    28 |    0 |     0 | None | None | None |
|   56 |   1992 | 11400 |   0 |     0 | 11400 |    18 |    0 |     0 | None | None | None |
|   28 |   2019 |     0 |   0 | 16900 | 16900 |    19 |    0 | 16900 |   40 |   52 | None |
|   21 |   2020 |     0 |   0 | 50000 | 50000 |    72 |    0 | 50000 |   60 |   52 | None |
|   20 |   None |     0 |   0 |  7700 |  7700 |    54 |    0 |  6600 |   15 |    2 | None |
|   18 |   None |     0 |   0 |     0 | 16200 |    31 |    0 |     0 | None | None | 2017 |
|   38 |   None |     0 |   0 |     0 |     0 |    10 |    0 |     0 | None | None | None |
|   28 |   None |     0 |   0 |     0 |     0 |    10 |    0 |     0 | None | None | 2022 |
|   18 |   None |     0 |   0 |     0 |     0 |    59 |    0 |     0 | None | None | None |
|   77 |   1991 |     0 |   0 |     0 |  3000 |     9 | 3000 |     0 | None | None | None |
|   41 |   None |     0 |   0 |     0 |     0 |    26 |    0 |     0 | None | None | None |
|   35 |   None |     0 |   0 |     0 |     0 |     9 |    0 |     0 | None | None | None |
|   48 |   1995 |     0 |   0 |     0 |     0 |    44 |    0 |     0 | None | None | None |
|   21 |   None |  3400 |   0 |     0 |  3400 |    21 |    0 |     0 | None | None | None |
|   37 |   None |     0 |   0 |     0 |     0 |    54 |    0 |     0 | None | None | None |
|   20 |   None |     0 |   0 |  7000 |  7000 |    57 |    0 |  7000 |   40 |   52 | None |
|   24 |   2018 |     0 |   0 | 36000 | 36000 |    10 |    0 | 36000 |   40 |   52 | None |
|   81 |   1960 |     0 |   0 |     0 | 12500 |    46 |    0 |     0 | None | None | None |
|   21 |   None |     0 |   0 | 24000 | 24000 |    58 |    0 | 24000 |   40 |   16 | None |
|   92 |   1952 |     0 |   0 |     0 | 13600 |    19 |    0 |     0 | None | None | None |
|   52 |   2009 |     0 |   0 |     0 |     0 |    11 |    0 |     0 | None | None | None |
|   45 |   None |     0 |   0 |   250 |   250 |    62 |    0 |   250 |    9 |    1 | None |
|   87 |   2002 |     0 |   0 |     0 | 14400 |     8 |    0 |     0 | None | None | None |
|   20 |   None |     0 |   0 |  8600 |  8600 |    58 |    0 |     0 |   20 |    3 | None |
|   41 |   None |     0 |   0 |     0 | 14200 |     9 |    0 |     0 | None | None | None |
|   19 |   None |     0 |   0 | 11300 | 11300 |    40 |    0 |  9100 |   99 |    1 | None |
|   23 |   None |     0 |   0 |     0 |     0 |    44 |    0 |     0 | None | None | None |
|   92 |   1968 |     0 |   0 |     0 | 19900 |     8 |    0 |     0 | None | None | None |
|   20 |   None |     0 |   0 |  1500 |  1500 |    58 |    0 |  1500 |   60 |    2 | None |
|   26 |   None |   150 |   0 |  3000 |  3150 |    25 |    0 |     0 |   30 |    8 | None |
|   19 |   None |     0 |   0 | 25000 | 25000 |     7 |    0 | 25000 |   50 |   52 | None |
|   20 |   None |     0 |   0 |  5000 |  5000 |    54 |    0 |  5000 |    6 |   52 | None |
|   20 |   None |     0 |   0 |  2400 |  2400 |    75 |    0 |  2400 |   30 |    8 | None |
|   20 |   None |     0 |   0 | 28800 | 28800 |    46 |    0 | 28800 |   50 |   52 | None |
|   38 |   2010 |     0 |   0 |     0 |     0 |    51 |    0 |     0 | None | None | None |
|   31 |   None |     0 |   0 |     0 |     0 |    51 |    0 |     0 | None | None | None |
|   74 |   1991 |     0 |   0 |     0 |     0 |    47 |    0 |     0 | None | None | None |
|   40 |   None |     0 |   0 |     0 |     0 |    56 |    0 |     0 | None | None | None |
|   20 |   None |   720 |   0 |     0 |   720 |    57 |    0 |     0 | None | None | None |
|   43 |   None |     0 |   0 |     0 |     0 |     9 |    0 |     0 | None | None | None |
|   20 |   None |     0 |   0 |  2300 |  2300 |   112 |    0 |  2300 |   20 |   24 | None |
|   22 |   2022 |     0 |   0 | 27000 | 27300 |     9 |    0 | 27000 |   50 |   52 | None |
|   40 |   2018 |     0 |   0 | 25000 | 25000 |    54 |    0 | 25000 |   40 |   48 | None |
|   68 |   1990 |     0 |   0 |     0 |  6000 |    80 | 3600 |     0 | None | None | None |
+------+--------+-------+-----+-------+-------+-------+------+-------+------+------+------+

In [ ]:
%%sql